{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}


<!--contenido de servicios-->
<div class="contenedorForm">
    {% if 'valido' in request.GET %}
    <p style="color: white;">Se ha enviado correctamente</p>
    {% endif %}

    <form action="" method="post" style="text-align: center;">
        {%csrf_token%}
        <table style="color: white; margin: 20px auto;" >
            {{miformulario.as_table}}
        </table>
        <input type="submit" value="Enviar" style="width: 150px;N">
    </form>
</div>

<p style="color: snow;">{{request.POST}}</p>
{% endblock %}